<!--Iscriviti-->
<section class="d-flex">
  <div>
    <img src="../../../assets/img/schermata-2020-06-24-alle-15-10-19-1593004235.png" alt="">
  </div>
  <div class="mt-4 me-4" style="max-width: 40%;">
    <h1 class="text-white">Grandi film e serie T</h1>
    <p class="text-white mt-4 opacity-50 " >Iscriviti ad Amazon Prime e guarda film e serie TV di grande successo, incluse le produzioni
      Amazon Original Jack Ryan di Tom Clancy, Troppo cattivi e LoL Stagione 2. Puoi anche approfittare di spedizioni
      illimitate in un giorno su due milioni di prodotti senza costi aggiuntivi e in 2-3 giorni su moltissimi altri.
    </p>
    <a class="btn mt-4 my_btn d-flex align-items-center" [routerLink]="['/login']" >Cliente Amazon Prime? Accedi</a>
    <p class="text-white">⎯⎯⎯⎯⎯⎯⎯<span> O </span><span>⎯⎯⎯⎯⎯⎯⎯</span></p>
    <a class="btn my_btn" [routerLink]="['/sign-in']" >Iscriviti e usalo gratis per 30 giorni</a>
    <p class="text-white mt-4 opacity-50">Dopo 30 giorni, Amazon Prime si rinnova automaticamente a € 49,90/anno o € 4,99/mese. Audio o
      sottotitoli in italiano sono disponibili per la maggior parte dei titoli. <a class=>Sei studente?</a> </p>
  </div>
</section>
<!--Uefa champions league-->
<section class="d-flex align-items-center mt-4 ms-4">
  <div class="mt-4 me-4" style="max-width: 40%;">
    <h1 class="text-white">Amazon ti porta la UEFA Champions League</h1>
    <p class="text-white mt-4 opacity-50 " >Iscriviti ad Amazon Prime per guardare la migliore partita del mercoledì della UEFA Champions League in diretta e in esclusiva su Prime Video insieme agli highlights di tutte le partite.
    </p>
    <p class="text-white mt-4 opacity-50">Dopo 30 giorni, l’iscrizione Amazon Prime si rinnova automaticamente al prezzo di EUR 49,90/anno o EUR 4,99/mese.
  </div>
  <div>
    <img src="../../../assets/img/Screenshot 2023-06-10 alle 18.57.57.png" width="100%">
  </div>
</section>
<!---->
<hr class="text-white m-0">
<footer class="bg-dark d-flex flex-column align-items-center">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Amazon_Prime_Video_logo.svg/1280px-Amazon_Prime_Video_logo.svg.png" width="80px" alt="" class="mt-2 mb-2">
  <ul class="text-white list-unstyled d-flex m-0">
    <li class="me-2 text-primary">PrimeVideo</li>
    <li class="me-2 text-primary ">PrimeMusic</li>
    <li class="me-2 text-primary ">Prime</li>
  </ul>
  <p class="text-white opacity-50 m-0">© 1996-2023, Amazon.com, Inc. o società affiliate</p>
</footer>
