#my_card{
  background-color: black;
  border: 1px solid rgb(26, 19, 19);
  transition: 0.5s all ease;
}

#my_card:hover{
  transform: scale(1.2);
  cursor: pointer;
  z-index: 1;
}


#like:hover{
 background-color: red;
}


// #my_like  {
//   color: white;
//   transition: 0.2s all ease;
// }

// #my_like:hover  {
//   cursor: pointer;
//   color: red;
// }

.like{
  color: red;
}


.noLike{
  color: white
}


.like:hover{
 color: red;
}


.noLike:hover{
  color: red
}
