<div *ngIf="isLoading" class="d-flex justify-content-center mt-2">
  <h4> Recupero Task..</h4>
  <div class=" ms-2 spinner-border text-primary" role="status"></div>
</div>

<div *ngIf="!isLoading">
  <h2 class="text-center">ToDo List</h2>
  <div class="position-relative">
    <input type="text" placeholder="inserisci nuovo elemento" id="my_input" class="form-control" [(ngModel)]="todoItem">
    <br>
    <button class="btn btn-primary btn-lg position-absolute bottom-0 end-0" id="aggiungi" (click)="Add()"><i
        class="bi bi-plus-lg"></i></button>
  </div>

  <div *ngIf="loadClick" class="d-flex justify-content-center">
    <div class="spinner-grow text-primary animated" role="status"></div>
  </div>

  <ng-container *ngIf="tasks.length!== 0 && completeTask(); else errorMessage">
    <ul *ngFor="let item of tasks" class="p-0">
      <li *ngIf="!item.completed" class="list-unstyled border-top border-bottom mt-4 d-flex justify-content-between">
        <div>
          {{item.title}}
        </div>
        <div>
          <button class="btn btn-danger btn-sm me-2 rounded-circle" id="deleteBtn" (click)="deleteT(item);">
            <i class="bi bi-trash3-fill"></i></button>
          <button class="btn btn-success btn-sm rounded-circle" id="checkBtn" (click)="change(item)"><i
              class="bi bi-check2-circle"></i></button>
        </div>
      </li>
    </ul>
  </ng-container>

  <ng-template #errorMessage>
    <h3 class=" text-danger text-center mt-4"> <i class="bi bi-exclamation-triangle-fill"></i> Non hai ancora creato
      task <i class="bi bi-exclamation-triangle-fill"></i></h3>
  </ng-template>
</div>
